# Dataset Loading

In [1]:
import pandas as pd

In [2]:
cleaned_comments_dataset = pd.read_csv(
    "../dataset/cleaned_comments_dataset.csv",
    encoding="utf-8",
    engine="pyarrow",
)

only_augmented_comments_dataset = pd.read_csv(
    "../dataset/only_augmented_comments_dataset.csv",
    encoding="utf-8",
    engine="pyarrow",
)

In [3]:
label_encoding_dict = {
    "not bully": 0,
    "religious": 1,
    "troll": 2,
    "sexual": 3,
    "threat": 4,
}

cleaned_comments_dataset["label"] = cleaned_comments_dataset["label"].map(
    label_encoding_dict
)

only_augmented_comments_dataset["label"] = only_augmented_comments_dataset["label"].map(
    label_encoding_dict
)

In [4]:
cleaned_comments_dataset

                                                 comment  label
0      হালার পুত মদ খাওয়ার সময় রাতের বেলা মদ খাই দি...      3
1                         ঘরে শুট কেমন লেগেছে ক্যামেরাতে      0
2                                       অরে বাবা টা পাগল      0
3                                  ক্যাপ্টেন অফ বাংলাদেশ      0
4                                               পটকা মাছ      2
...                                                  ...    ...
43562                                 হিরো আলম এগিয়ে যাও      0
43563           হিরো আলমকে সাপোর্ট অসংখ্য ধন্যবাদ আপনাকে      0
43564                                 হিরো ভাই এগিয়ে য়াও      0
43565          হুম ভাও তোমরা এগিয়ে যাও তোমাদের পিছনে আছি      0
43566                          হ্যালো তোমাদের সাথে চ্যাট      0

[43567 rows x 2 columns]

In [5]:
only_augmented_comments_dataset

                                                   text  label
0     খানকিরা জানে খানকি বিত্তি কিভাবে আল্লাহতালা নর...      1
1     তুই বড়যাত্রা এসেছ জুতা দেখেশিসতাহলে তর মাবাপের...      4
2     এক সাক্ষাৎকারে মেয়েটি বলেছে বিশ্বাস না। ইসলাম...      1
3                                   নাস্তিকের প্রার্থনা      1
4     আজকাল লম্পট অশিক্ষিত ব্যক্তি মুখ বের আনে শীঘ্র...      1
...                                                 ...    ...
6076                                  দেশ রুপার বিতাড়িত      4
6077                               জুতাটা কপালে মেরেছি।      4
6078  সেফু নামক এক ইসলাম বিদ্বেষীর কুরআন রাসুল সঃ অপ...      4
6079                  জুতা মেরে গরু দান পুকি মেরে দিলা।      4
6080                                মারুন রে জাহেদ জুতা      4

[6081 rows x 2 columns]